i.icon{
    font-size:2em;
}


.container.main{
    margin-top: 7.0em;
}

#delete{
    display: inline;
}

#post{
     margin-top: 5.0em;
}
#postimg{
    height: 150px;
}
#showimg{
    height: 500px;
}